apiVersion: v1
kind: Service
metadata:
  name: litewebservices-portal
  labels:
    app: litewebservices-portal
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: litewebservices-portal

